@model IEnumerable<nhóm6_BTL.Models.NhapKho>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuNhap }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuNhap }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuNhap })
        </td>
    </tr>
}

</table>
